body {
  font-family: 'Merriweather', serif;
}
.header {
  margin: 0px;
  padding: 3px;
  text-align: center;
  background-color: #fcfafa;
  color: 4f81c7;
  font-size: 20px;
}
ul {
  font-size: 18px;
  float: left;
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 60px;
  background-color: 4f81c7;
}
li a {
  color: white;
  display: block;
  text-decoration: none;
}
.active {
  height: -2px;
   border: 2px solid #64c4ed;
}
li a:hover {
  background-color: #f0d78c;
  border: 2px solid #f0d78c;
  height: -2px;
  color: white;
}