.header {
  margin: 0px;
  padding: 3px;
  text-align: center;
  background: RoyalBlue;
  color: White;
  font-size: 20px;
}
ul {
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 60px;
  background-color: deepskyblue;
}
li a {
  display: block;
  width: 60px;
}